<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <appSettings>
    <add key="BasePath" value="C:\#Robot\data\" />
    <add key="ProcessDelay" value="5000" />

    <add key="Ftp.Host" value="127.0.0.1" />
    <add key="Ftp.User" value="anonymous" />
    <add key="Ftp.Pass" value="apassword" />

    <add key="RobotSharp.CSC" value="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\csc.exe" />
    <add key="RobotJava.JAVAC" value="C:\Program Files\Java\jdk1.8.0_181\bin\javac.exe" />
    <add key="RobotJava.JAVA" value="C:\Program Files\Java\jdk1.8.0_181\bin\java.exe" />
  </appSettings>
</configuration>