<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RobotSharpRun.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <applicationSettings>
    <RobotSharpRun.Properties.Settings>
      <setting name="AppRequestInterval" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="RobotSharpCscExe" serializeAs="String">
        <value>C:\Windows\Microsoft.NET\Framework64\v4.0.30319\csc.exe</value>
      </setting>
      <setting name="RobotSharpDenyWords" serializeAs="String">
        <value>.net file directory buffered gettype getmethod invoke assembly appdomain reflection diagnostic process shutdown</value>
      </setting>
      <setting name="RobotJavaJavacExe" serializeAs="String">
        <value>C:\Program Files\Java\jdk1.8.0_201\bin\javac.exe</value>
      </setting>
      <setting name="RobotJavaJavaExe" serializeAs="String">
        <value>C:\Program Files\Java\jdk1.8.0_201\bin\java.exe</value>
      </setting>
      <setting name="RobotJavaDenyWords" serializeAs="String">
        <value>java.io java.nio file reader writer</value>
      </setting>
      <setting name="AppWorkFolder" serializeAs="String">
        <value>.\work\</value>
      </setting>
      <setting name="TransportClass" serializeAs="String">
        <value>Disk</value>
      </setting>
      <setting name="TransportDiskTasksFolder" serializeAs="String">
        <value>C:\#Robot\tasks\</value>
      </setting>
      <setting name="TransportFtpHost" serializeAs="String">
        <value>ftp://127.0.0.1/</value>
      </setting>
      <setting name="TransportFtpUser" serializeAs="String">
        <value>anonymous</value>
      </setting>
      <setting name="TransportFtpPass" serializeAs="String">
        <value>apassword</value>
      </setting>
      <setting name="RobotRunTestTimeout" serializeAs="String">
        <value>3000</value>
      </setting>
    </RobotSharpRun.Properties.Settings>
  </applicationSettings>
</configuration>